@using PachiArmy.Scripts;
@inject NavigationManager NavigationManager

<Div Padding="Padding.Is1" Class="text-no-select">
    <Text TextSize="TextSize.Small">@GetShopMessage()</Text>
    <Link onclick="@NavigateToStore" Disabled="@(!Store.IsShopAvailable())">
    <Div Class="@GetShopLinkClass()">
        <Card Padding="Padding.Is2" Margin="Margin.Is1" Width="Width.Max100">
            <Container>
                <Span>
                    <Image Source="@Store.Icon" Width="Width.Rem(3)" />
                    <Text Padding="Padding.Is2" VerticalAlignment="VerticalAlignment.Middle">@Store.Name</Text>
                </Span>
            </Container>
        </Card>
    </Div>
    </Link>
</Div>

@code {
    [Parameter]
    public Store Store { get; set; } = default!;

    public string GetShopMessage()
    {
        if (Store.IsShopAvailable())
        {
            return "Open!";
        }
        else
        {
            return "🔒 " + Inventory.GetTotalPachiCount() + " / " + Store.PachisToUnlock + " Pachis";
        }
    }

    public string GetShopLinkClass()
    {
        return Store.IsShopAvailable() ? "store-link" : "store-link-disabled";
    }

    public void NavigateToStore()
    {
        StoreManager.CurStore = Store;
        GameManager.ClearAllDelegateSubscriptions();

        PageAnimationManager.NextPageAnimation = Animations.FadeLeft;
        NavigationManager.NavigateTo("Store");

        AudioManager.PlaySound("transitionToStore");
    }
}