@using CatiArmi.Scripts;
@inject NavigationManager NavigationManager

<Div Padding="Padding.Is1" Class="text-no-select" TextAlignment="TextAlignment.Center">
    <Link onclick="@NavigateToStore" Disabled="@(!Store.IsShopAvailable())">
    <Container Width="Width.Is75" Class="@GetShopLinkClass()">
        <Image Source="@GetImage()" Width="Width.Is100" Height="Height.Rem(5)" />
        <Row Class="centered" Width="Width.Rem(13)">
            <Column ColumnSize="ColumnSize.Is5">
                <Image Source="@GetStoreIcon()" Height="Height.Rem(3.5)" />
            </Column>
            <Column ColumnSize="ColumnSize.Is7" TextAlignment="TextAlignment.Start">
                <Div Padding="Padding.Is1" />
                <Text VerticalAlignment="VerticalAlignment.Bottom">@GetStoreDisplayName()</Text>
                <br />
                <Text VerticalAlignment="VerticalAlignment.Top" TextSize="TextSize.ExtraSmall">@GetShopMessage()</Text>
            </Column>
        </Row>
    </Container>
    </Link>
</Div>

@code {
    [Parameter]
    public Store Store { get; set; } = default!;

    string GetShopMessage()
    {
        if (Store.IsShopAvailable())
        {
            return "Open!";
        }
        else
        {
            return Inventory.GetTotalPachiCount() + " / " + Store.PachisToUnlock + " Catis";
        }
    }

    string GetShopLinkClass()
    {
        return Store.IsShopAvailable() ? "store-link" : "store-link-disabled";
    }

    string GetImage()
    {
        if (Store.IsShopAvailable())
        {
            return "art/ui/shoplink-active.png";
        }
        else
        {
            return "art/ui/shoplink-disabled2.png";
        }
    }

    string GetStoreDisplayName()
    {
        if (Store.IsShopAvailable())
        {
            return Store.DisplayName;
        }
        else
        {
            return Store.DisplayName;
        }
    }

    string GetStoreIcon()
    {
        if (Store.IsShopAvailable())
        {
            return Store.Icon;
        }
        else
        {
            return "art/ui/lock.png";
        }
    }

    public void NavigateToStore()
    {
        StoreManager.CurStore = Store;
        GameManager.InitializeTimers();

        PageAnimationManager.NextPageAnimation = Animations.FadeLeft;
        NavigationManager.NavigateTo("Store");

        AudioManager.PlaySound("transitionToStore");
    }
}