@using CatiArmi.Scripts;
@inject NavigationManager NavigationManager

<Div Padding="Padding.Is1" Class="text-no-select">
    <Text TextSize="TextSize.Small">@GetShopMessage()</Text>
    <Link onclick="@NavigateToStore" Disabled="@(!Store.IsShopAvailable())">
    <Div Class="@GetShopLinkClass()">
@*         <Container>
            <Span>
                <Image Source="@Store.Icon" Width="Width.Rem(3)" />
                <Text Padding="Padding.Is2" VerticalAlignment="VerticalAlignment.Middle">@Store.Name</Text>
            </Span>
            <Image Source="art/ui/shoplink-active.png" Padding="Padding.Is2" Margin="Margin.Is1" Width="Width.Max100" />
        </Container> *@

        <Div class="gallery-item">
            <Image Source="@GetImage()" Width="Width.Rem(16)" Height="Height.Rem(5)" />
            <Span Class="centered">
                <Image Source="@GetStoreIcon()" Width="Width.Rem(3)" />
                <Text Padding="Padding.Is2" VerticalAlignment="VerticalAlignment.Middle">@GetStoreDisplayName()</Text>
            </Span>
        </Div>
    </Div>
    </Link>
</Div>

@code {
    [Parameter]
    public Store Store { get; set; } = default!;

    string GetShopMessage()
    {
        if (Store.IsShopAvailable())
        {
            return "Open!";
        }
        else
        {
            return "🔒 " + Inventory.GetTotalPachiCount() + " / " + Store.PachisToUnlock + " Pachis";
        }
    }

    string GetShopLinkClass()
    {
        return Store.IsShopAvailable() ? "store-link" : "store-link-disabled";
    }

    string GetImage()
    {
        if (Store.IsShopAvailable())
        {
            return "art/ui/shoplink-active.png";
        }
        else
        {
            return "art/ui/shoplink-disabled2.png";
        }
    }

    string GetStoreDisplayName()
    {
        if (Store.IsShopAvailable())
        {
            return Store.DisplayName;
        }
        else
        {
            return Store.DisplayName;
        }
    }

    string GetStoreIcon()
    {
        if (Store.IsShopAvailable())
        {
            return Store.Icon;
        }
        else
        {
            return "art/ui/lock.png";
        }
    }

    public void NavigateToStore()
    {
        StoreManager.CurStore = Store;
        GameManager.ClearAllDelegateSubscriptions();

        PageAnimationManager.NextPageAnimation = Animations.FadeLeft;
        NavigationManager.NavigateTo("Store");

        AudioManager.PlaySound("transitionToStore");
    }
}